yt-dlp
curl-cffi
pyrofork
py-tgcalls
motor
pymongo
dnspython
aiofiles
aiohttp
requests
pillow
psutil
speedtest-cli
python-dotenv
tgcrypto
google-api-python-client
isodate
SafoneAPI
GitPython
heroku3
beautifulsoup4
py-yt-search
PyYAML
spotipy
httpx
